[submodule "TextYourMom/dispatcher"]
	path = TextYourMom/dispatcher
	url = git@github.com:aleclarson/dispatcher.git
[submodule "TextYourMom/Dollar.swift"]
	path = TextYourMom/Dollar.swift
	url = git@github.com:ankurp/Dollar.swift.git
